.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  color: white;
}
.footer__right * .MuiSlider-root {
  color: #1ed15e;
  max-width: 70%;
}
.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.footer__green {
  color: #1ed15e;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}
.footer__songInfo > p {
  font-size: 12px;
}

.footer__center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.footer__right {
  flex: 0.3;

  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.footer__albumLogo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer__icon:hover,
.footer__green:hover {
  transform: scale(1.2) !important;
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .footer {
    z-index: 99999;
    padding: 20px 20px 20px 0;
  }

  .footer__right * .MuiSlider-root {
    color: #1ed15e;
    max-width: 70%;
  }
  .footer__left {
    flex: 0.3;
    /* padding: 0 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 300px; */
  }

  .footer__green {
    color: #1ed15e;
  }

  .footer__songInfo > h4 {
    margin-bottom: 5px;
  }
  .footer__songInfo > p {
    font-size: 12px;
  }

  .footer__center {
    flex: 0.7;
    padding: 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }

  .footer__albumLogo {
    width: 50px;
    height: 20px;
    margin-right: 0px;
    margin-top: 6px;
    object-fit: contain;
  }

  .footer__right {
    flex: 0.3;
    display: none;

    /* display: flex;
  justify-content: space-between;
  align-items: center; */
  }
}
