.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header__search {
  color: grey;
}

.header__left {
  min-width: 70px;
  flex: 0.5;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .header__search {
    color: grey;
  }

  .header__left {
    min-width: 100px;
    flex: 0.8;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 5px;
  }

  .header__left > input {
    border: none;
    width: 100%;
  }

  .header__right {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .header__right > h4 {
    display: none;
    /* margin-left: 10px; */
  }
}
